{% extends "base_generic.html" %}


{% block visits %}
    <p class="text-muted">You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}

{% block content %}
    <h1>Accueil</h1>
    <p>Bienvenue à la bibliothèque locale, un site web développé par <em>Yacine BOUKARI</em> !</p>
    <p>La bibliothèque dispose des enregistrements suivants:</p>
    <ul>
        <li><strong>Livres:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies disponibles:</strong> {{ num_instances_available }}</li>
        <li><strong>Auteurs:</strong> {{ num_authors }}</li>
    </ul>

    <br/>

    <label for="search-input">
        Rechercher dans le catalogue:
    </label>
    <input type="text" id="search-input" placeholder="{{ requested_word }}" autofocus>
    <br/>
    <br/>
    <p>Tous les genres contenant " <em>{{ requested_word }}</em> "</p>
    <ul>
        {% for genre in matching_genres %}
            <li>{{ genre }}</li>
        {% empty %}
            <p>Aucun genre correspondant trouvé</p>
        {% endfor %}
    </ul>
    <p>Tous les titres contenant " <em>{{ requested_word }}</em> "</p>
    <ul>
        {% for book in matching_books %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                (
                <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
                )
            </li>
        {% empty %}
            <p>Aucun titre correspondant trouvé</p>
        {% endfor %}
    </ul>
{% endblock %}
