.container-fluid {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.col-sm-2 {
    border-right: 1px solid black;
}

.col-sm-10 {
    padding-left: 50px;
}